.tableContainer {
  width: 100%;
  position: relative;
  height: 100%;

  .table {
    display: grid;
    .header {
      display: grid;
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}
