.cell {
  padding: 4px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  height: 100%;
  border-left: 1px solid;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  .resizeHandler {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    transform: translate(50%, 0);
    cursor: col-resize;
    z-index: 10;
  }
}
