:root {
  --color-50: #fff3e0;
  --color-100: #ffe0b2;
  --color-200: #ffcc80;
  --color-300: #ffb74d;
  --color-400: #ffa726;
  --color-500: #ff9800;
  --color-600: #fb8c00;
  --color-700: #f57c00;
  --color-800: #ef6c00;
  --color-900: #e65100;
  --color-A100: #ffd180;
  --color-A200: #ffab40;
  --color-A400: #ff9100;
  --color-A700: #ff6d00;
}
