[data-theme="purple"] {
  --color-50: #f3e5f5;
  --color-100: #e1bee7;
  --color-200: #ce93d8;
  --color-300: #ba68c8;
  --color-400: #ab47bc;
  --color-500: #9c27b0;
  --color-600: #8e24aa;
  --color-700: #7b1fa2;
  --color-800: #6a1b9a;
  --color-900: #4a148c;
  --color-A100: #ea80fc;
  --color-A200: #e040fb;
  --color-A400: #d500f9;
  --color-A700: #aa00ff;
}
