[data-theme="red"] {
  --color-50: #ffebee;
  --color-100: #ffcdd2;
  --color-200: #ef9a9a;
  --color-300: #e57373;
  --color-400: #ef5350;
  --color-500: #f44336;
  --color-600: #e53935;
  --color-700: #d32f2f;
  --color-800: #c62828;
  --color-900: #b71c1c;
  --color-A100: #ff8a80;
  --color-A200: #ff5252;
  --color-A400: #ff1744;
  --color-A700: #d50000;
}
