.body {
  display: grid;
  position: relative;
  .row {
    font-size: 12px;
    border-bottom: 1px solid;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    position: absolute;
    &.active {
      background-color: #3e638175;
    }
    .cell {
      align-items: center;
      padding: 4px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      height: 100%;
      border-left: 1px solid;
    }
  }
}
